@import "../../breakpoints";

.menu-header {
  position: relative !important;
  margin-bottom: 10px !important;

  @include for-size(tablet-landscape-up) {
    margin-bottom: 50px !important;
  }
}

.menu-vary {
  width: 300px !important;
  margin: 25px auto 0 !important;
  text-align: center !important;
  
  @include for-size(tablet-landscape-up) {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    padding: 3px 2% 0 0 !important;
    text-align: right !important;
    width: 200px !important;
  }
}

.menu-img {
  object-fit: contain !important;
}
