@import "../../breakpoints";

section {
  background: #E4E4E6 !important;
  padding: 6rem 3rem !important;
  margin: 0 !important;
}

.line {
  width: 50px !important;
  height: 6px !important;
  background: #000 !important;
  margin-bottom: 5px !important;
}

.menu {
  width: 270px !important;
  height: 100% !important;
  background: #FFF !important;
  position: fixed !important;
  top: 0 !important;
  right: -270px !important;
  transition: right 0.1s !important;
}

.navigation-container {
  &.open {
    .menu {
      right: 0 !important;
    }

    .line {
      background: #000000 !important;
    }
  }

  &.close {
    .menu {
      right: -270px !important;
    }
  
    .line {
      background: #FFFFFF !important;
    }
  }

  img {
    width: 85px !important;
    height: 85px !important;
  }
}


.logo {
  position: absolute !important;
  right: 0 !important;
  margin: 25px !important;
  z-index: 2 !important;
  cursor: pointer !important;

  @include for-size(tablet-landscape-up) {
    margin: 45px !important;
  }
}

.menu-item {
  font-size: 2em !important;
  width: 100% !important;
  box-sizing: border-box !important;
  
  &:first-child {
    margin-top: 180px !important;
  }
  
  &:hover {
    background: #000000 !important;
    cursor: pointer !important;

    a {
      color: #ffffff !important;
    }
  }
  
  a {
    color: #000000 !important;
    padding: 1rem 3rem !important;
  }
}
