@import "../../breakpoints";

.mini-pages-container {
  padding: 50px 0;
}

.mini-pages-layout {
  max-width: 700px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;

  @include for-size(big-phone-up) {
    flex-direction: row;
  }
  
  @include for-size(tablet-landscape-up) {
    max-width: 800px;
  }

  div[class^="StyledBox"] {
    flex-basis: 100%;
    flex-wrap: wrap;

    @include for-size(big-phone-up) {
      flex-basis: 50%;
    }
  }
}

.mini-page {
  position: relative;
  padding: 0;
  background: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  align-items: end;
  display: inline-block;

  @include for-size(big-phone-up) {
    width: 50%;
  }

  &:hover {
    box-shadow: none;

    .mini-page-label {
      img {
        transform: translate(3px, 0);
      }
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.mini-page-label {
  background: none;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  border: none;
  font-size: 24px;
  padding: 4px;
  left: 52px;
  bottom: 40px;
  font-family: "Fjalla One";
  display: flex;
  align-items: center;

  img {
    position: relative;
    top: -2px;
    right: -5px;
    transition: 0.2s ease-in-out;
    width: 40px;
  }
}
