@import "../../breakpoints";

.mini-pages-container {
  padding: 50px 0 !important;
}

.mini-pages-layout {
  max-width: 700px !important;
  margin: 0 auto !important;
  flex-direction: column !important;

  @include for-size(big-phone-up) {
    flex-direction: row !important;
  }
  
  @include for-size(tablet-landscape-up) {
    max-width: 800px !important;
  }

  div[class^="StyledBox"] {
    flex-basis: 100% !important;
    flex-wrap: wrap !important;

    @include for-size(big-phone-up) {
      flex-basis: 50% !important;
    }
  }
}

.mini-page {
  position: relative !important;
  padding: 0 !important;
  background: none !important;
  width: 100% !important;
  max-width: 430px !important;
  margin: 0 auto !important;

  &:hover {
    box-shadow: none !important;

    svg {
      transform: translate(3px, 0) !important;
    }
  }
}

.mini-page-label {
  color: #ffffff !important;
  position: absolute !important;
  border: none !important;
  font-size: 24px !important;
  padding: 4px !important;
  left: 52px !important;
  bottom: 40px !important;

  svg {
    stroke: #ffffff !important;
    position: relative !important;
    top: -2px !important;
    right: -5px !important;
    transition: 0.2s ease-in-out !important;
  }
}
