@import "../../breakpoints";

.catering-option {
  background-color: rgba(244, 16, 1, .7) !important;
  color: #ffffff !important;
  display: inline-block !important;
  font-family: "Average" !important;
  margin: 0 0 20px 0 !important;
  padding: 27px 21px !important;
  width: 100% !important;

  @include for-size(big-phone-up) {
    width: 380px !important;
  }

  @include for-size(tablet-portrait-up) {
    margin: 0 20px 20px 0 !important;
    width: calc(50% - 20px) !important;
    max-width: 380px !important;
  }

  span {
    display: block !important;
  }
  
  .catering-option-header {
    font-family: "Fjalla One" !important;
    margin-bottom: 20px !important;
  }

  .catering-option-item {
    margin-bottom: 3px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .catering-option-price {
    text-align: right !important;
  }
}
