@import '../../breakpoints';

.footer {
  background-color: #333333 !important;
  color: #ffffff !important;

  @include for-size(phone-only) {
    align-items: center !important;
    flex-direction: column !important;
  }

  a {
    color: #ffffff !important;
    text-decoration: none !important;
  }

  ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  li {
    display: inline !important;
    padding: 0 10px !important;

    &:not(:first-child) {
      border-left: 1px solid #000 !important;
      border-color: #ffffff !important;
    }
  }
}
