@import "./breakpoints";

.full-page {
  min-height: 100vh !important;
  position: relative;

  &.inverted {
    h1 {
      color: #000000;
    }
  }

  .full-page-background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.full-page-layout {
  padding: 120px 60px 100px !important;
  max-width: 1100px !important;
  margin: 0 auto !important;

  @include for-size(tablet-portrait-up) {
    padding: 160px 80px 100px !important;
  }

  @include for-size(tablet-landscape-up) {
    padding: 160px 110px 100px !important;
  }

  @include for-size(desktop-up) {
    padding: 160px 180px 100px !important;
  }
}

.paragraph {
  color: #ffffff;
  font-family: "Average";
  max-width: none !important;
}

h1 {
  color: #ffffff;
  font-weight: 400 !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: .5;

  &.close {
    display: none;
  }
}
